

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
	
	  <div class="container">

	  <div class="container col-md-3" style="text-align: center;">
			<h2>Categories</h2>
			<br>
			<h4>Location</h4>
			<div class="checkbox" style="text-align:left;">
			<label>
			<input type="checkbox"  value="1" checked="">
			Inside UPLB
			<br>
			&nbsp <input type="checkbox"  value="0">
			Lower Campus
			<br>
			&nbsp <input type="checkbox"  value="0">
			Upper Campus
			<br>
			<input type="checkbox"  value="0">
			Outside UPLB
			</label>
			</div>

			<h4>House Rules</h4>
			<div class="checkbox" style="text-align:left;">
			<label>
			<input type="checkbox"  value="1" checked="">
			Pets Allowed
			<br>
			<input type="checkbox"  value="0">
			No Pets Allowed
			<br>
			<input type="checkbox"  value="0">
			No Curfew
			<br>
			<input type="checkbox"  value="0">
			Partying Allowed
			<br>
			<input type="checkbox"  value="0">
			Smoking Allowed
			<br>
			<input type="checkbox"  value="0">
			No Smoking Allowed
			<br>
			<input type="checkbox"  value="0">
			Visitors Allowed
			</label>
			</div>

			<h4>Furnishing</h4>
			<div class="checkbox" style="text-align:left;">
			<label>
			<input type="checkbox"  value="1" checked="">
			Airconditioned
			<br>
			<input type="checkbox"  value="0">
			Furnished
			<br>
			<input type="checkbox"  value="0">
			Unfurnished
			</label>
			</div>

			<h4>Ameneties</h4>
			<div class="checkbox" style="text-align:left;">
			<label>
			<input type="checkbox"  value="1" checked="">
			Has Laundry
			<br>
			<input type="checkbox"  value="0">
			Has Canteen
			<br>
			<input type="checkbox"  value="0">
			Has Parking
			<br>
			<input type="checkbox"  value="0">
			Has WiFi
			<br>
			<input type="checkbox"  value="0">
			Has CCTV
			<br>
			<input type="checkbox"  value="0">
			Has Security Guard
			</label>
			</div>

			<h4>Tenants</h4>
			<div class="checkbox" style="text-align:left;">
			<label>
			<input type="checkbox"  value="1" checked="">
			CoEd
			<br>
			<input type="checkbox"  value="0">
			Female Only
			<br>
			<input type="checkbox"  value="0">
			Male Only
			</label>
			</div>


			
	  </div>
	  <div class="container col-md-6">
			<input type="text" class="form-control" placeholder="Search...">
			<br>
			<h3>Bella Cartash Apartments</h3>
			<img src="dorm.jpg" height="250px" width="300px">
			<h3>Description</h3>
			<br>
			Name: Bella Cartash Apartments<br>
			Owner: Mang Joboss <br>
			Contact Number: 09278400522<br>
			<br>
			Location:<br>
					<img src="map.png" height="250px" width="450px">


	  </div>
	  <div class="container col-md-3" style="text-align: center;">

			<h2>Filters</h2>
			<br>
			Price
			<div id="slider"></div>
			<br>
			Size
			<div id="slider2"></div>
			<br>
			Distance from UPLB
			<div id="slider3"></div>
			<br>

			<img src="ads.jpg">
			<br>
			<br>
			<img src="ads.jpg">
			<br>
			<br>

			<button type="button" class="btn btn-lg btn-primary">Dorm Sign Up!</button>
			
	  </div>
      </div>
	</div>

