/* NEW FONTS: SOURCE SANS; */
@font-face {
  font-family: 'Source-Sans';
  src: url('SourceSansPro-Regular.otf');
}


html,
body {
    height: 100%;
    background: #eeeeee;
    color: #222222;
    font-family: "Source-Sans", SourceSansPro-Regular, sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source-Sans", SourceSansPro-Regular, sans-serif;
    font-weight: bold;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.big-space{
    padding-top: 50px;
}
.medium-space{
    padding-top: 20px;
}
.border{
    border-style: solid;
    border-width: 1px;
}

textarea { 
    resize:none; 
}

.responsive-image{
    height:auto;
    width:100%;
}

.container-main{
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom_navbar,ul,li {
    margin-left: 40px;
}

.overlay
{
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    display: none; 
    z-index: 999;
    background: rgba(0,0,0,0.7);
}
    .overlay a
    {
        display: table-cell; 
        vertical-align: middle; 
        text-align: center;
    }
        .overlay img
        {
            padding: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            background: #ffffff;
        }

.overlay:target { display: table; }


/*Custom CSS for Payments*/

.payments-search .form-group {
  float:left;
  padding-right: 5px;
}

.payments-search .form-control {
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

.payments-search .clear-float {
  clear:both;
}

.payments-search .submit-reset-buttons {
  margin-bottom: 5px;
  margin-right: 10px;
  float:left;
}

.payments-create {
  float:left;
  margin-right: 15px;
}

/*Custom CSS for Units*/

.reservation-group {
  text-align: center;
}